
@font-face {
    font-family: 'qolyazma';
    src: url('ukijqolyazma.eot');
    src: url('ukijqolyazma.eot?#iefix') format('embedded-opentype'),
         url('ukijqolyazma.woff') format('woff'),
         url('ukijqolyazma.ttf') format('truetype');
}